config.js
.settings.xml
node_modules
static/stats.json
static/*.sdat
static/*.xml
scripts/HomeMedia.db*
scripts/renders*
scripts
renders*
mods/mod_admin.js
mods/mod_catadmin.js
mods/mod_docs.js
mods/mod_spaces.js
scripts/tmp*
.qws
